.main .content .news__item {
    width: 850px;
    background-color: var(--color-blue-60);
    text-align: center;
    padding: 15px;
    color: var(--color-white);
    font-size: 28px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 50px;
}
.main .content textarea {
    resize: none;
}

.main .content .news__item {
    margin-bottom: 30px;
}

.main .content .news__item[open] {
    margin-bottom: 30px;
}

.main .content .news__item[open] summary {
    border-bottom: solid 1px var(--color-black);
}

.main .content .news__item .content__news {
    text-align: left;
    font-size: 22px;
}

.main .content .news__item .date__news {
    margin: 0;
    border-top: solid 1px var(--color-black);
    font-size: 22px;
}
